/* 
const bgStyle2 = {
    position: "relative",
    width: "100%",
    height: "100%",
    backgroundImage: `url("https://www.sidneyjames.com/media/6374baf4abb1c79ae3596277/original.webp")`,
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
    zIndex: -1,
  }; */

.background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(https://www.sidneyjames.com/media/6374baf4abb1c79ae3596277/original.webp);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .background {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://www.sidneyjames.com/media/6374baf4abb1c79ae3596277/original.webp);
    background-size: 1400px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
