html {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
}

.parallax {
  /* The image used */
  background-image: url(../public/wallpaper.jpg);

  /* Set a specific height */
  min-height: 900px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
